<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unige.headache_template">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.login.ForgotActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.patient.PatientListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.calendar.BasicActivity"
            android:label="Calendar" > </activity>
        <activity
            android:name=".activity.patient.PatientDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.patient.PatientCalendarActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.attack.AttackDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.attack.DurationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.attack.SymptomsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.attack.AuraSymptomsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.attack.TriggersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.attack.IntensityActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.attack.MedicationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.attack.PositionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.attack.NotesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>